.jumbotron {
  background-color:rgb(82, 212, 255);
  color:darkblue;
  text-align:center;
  padding:60px;
  font-size:20px;
}

nav {
  background-color:rgb(0, 34, 224);
  padding:6px;
}

nav li {
  list-style:none;
  display:inline;
  margin:30px;
}

nav a {
  font-size:30px;
  color:#ffffff;
  font-weight:400px;
  text-decoration:none;
}

nav a:hover {
  font-weight:bold;
  color:#00a2ff;
}

body {
  font-family:'tahoma';
  padding: 0;
  margin: 0;
  background-attachment: fixed;
  background-image: url(./image/Logo_SMKN_3_Pariaman.png);
  background-position: calc(98%) bottom;
  background-size: 50px;
  background-repeat: no-repeat;
}


h2 {
  color:blue;
}

.card {
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 #000000;
  border-radius:5px;
}

main {
  padding:20px;
  overflow:auto;
}

#content {
  width:70%;
  float:left;
}

.image {
  width:100%;
  object-position:center;
  object-fit:cover;
  max-height:300px;
}

aside {
  width:30%;
  float:right;
  padding-left:10px;
}

.sosialmedia {
  text-align:center;
}

* {
  box-sizing: border-box;
}

footer {
  color: blue;
  padding: 20px;
  background-color: rgb(82, 212, 255);
  text-align: center;
  font-weight: bold;
}
